div,
span {
  width: 80px;
  height: 80px;
  margin: 20px;
}

.inline-block {
  background: red;
  display: inline-block;
}
.block {
  background: blue;
  display: block;
}

.inline {
  background: green;
  display: inline;
}
