:root {
  /* color */
  --text-color: #f0f4f5;
  --background-color: #7886cc;
  --accent-color: #b53d00;
  /* size */
  --font-large: 3rem;
  --font-medium: 2rem;
  --font-small: 1rem;
}
.title {
  font-size: var(--font-large);
}
